<a href="https://colab.research.google.com/github/Nurdaylight/An-Econ-771/blob/main/PS2/PS2_empirical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np

In [2]:

ps2_data = pd.read_stata("http://fmwww.bc.edu/ec-p/data/Hayashi/nerlove63.dta")

print(ps2_data.head(3))

   totcost  output  plabor      pfuel   pkap
0    0.082     2.0    2.09  17.900000  183.0
1    0.661     3.0    2.05  35.099998  174.0
2    0.990     4.0    2.05  35.099998  171.0

In [3]:
ps2_data=np.log(ps2_data)
ps2_data['const'] = 1

In [4]:
ps2_data.head(3)

    totcost    output    plabor     pfuel      pkap  const
0 -2.501036  0.693147  0.737164  2.884801  5.209486      1
1 -0.414001  1.098612  0.717840  3.558201  5.159055      1
2 -0.010050  1.386294  0.717840  3.558201  5.141664      1

In [45]:
X = ps2_data.iloc[:, 1:].to_numpy()          # shape: (n, k)
Y = ps2_data.iloc[:, 0].to_numpy().reshape(-1, 1)
ps2_data.iloc[:, 3][:4]

0    2.884801
1    3.558201
2    3.558201
3    3.471967
Name: pfuel, dtype: float32

In [6]:
XtX_inv=np.linalg.inv(X.T@X)
estim1=XtX_inv@X.T@Y
out1=np.round(estim1,2)
out1

array([[ 0.72],
       [ 0.44],
       [ 0.43],
       [-0.22],
       [-3.53]])

In [15]:
e=Y-X@estim1
Var__estim1 = ((e.T @ e) / (140))[0] * XtX_inv
se_estim1= np.sqrt(np.diag(Var__estim1)).reshape(-1, 1)
se_estim1

array([[0.01746644],
       [0.29104763],
       [0.10036915],
       [0.33942852],
       [1.7743661 ]])

In [57]:
X2=(X[:,1:4]-X[:,2].reshape(-1, 1))
X2[:,1]+=1
X2=np.column_stack([X2, X[:, 0]])
Y2=Y-X[:,2].reshape(-1, 1)

In [144]:
#restricted regression
XtX2_inv=np.linalg.inv(X2.T@X2)
estim2=XtX2_inv@X2.T@Y2
out2=np.round(estim2,3)
print("b2: ", out2)
#restricted STD
e2=Y2-X2@estim2
Var__estim2 = ((e2.T @ e2) / (141))[0] * XtX2_inv
se_estim2= np.sqrt(np.diag(Var__estim2)).reshape(-1, 1)
print("se2: ", se_estim2)

b2:  [[ 0.593]
 [-4.691]
 [-0.007]
 [ 0.721]]
se2:  [[0.20457213]
 [0.88487119]
 [0.19073556]
 [0.01743572]]

In [159]:
#datasplit

for i in range(4):
  print("                                                          ")
  print("----------------------------------------------------->")
  print("Group results for ", i+1)
  X2_1=X2[29*i:29*(i+1)]
  Y2_1=Y2[29*i:29*(i+1)]

  #restricted regression
  XtX2_inv=np.linalg.inv(X2_1.T@X2_1)
  estim2=XtX2_inv@X2_1.T@Y2_1
  out2=np.round(estim2,3)

  print("b3: ", out2)
  print("                                                          ")
  #restricted STD
  e2=Y2_1-X2_1@estim2
  Var__estim2 = ((e2.T @ e2) / (141))[0] * XtX2_inv
  se_estim2= np.sqrt(np.diag(Var__estim2)).reshape(-1, 1)
  print("se3: ", se_estim2)

----------------------------------------------------->
Group results for  1
b3:  [[ 0.615]
 [-3.343]
 [-0.081]
 [ 0.4  ]]

se3:  [[0.30710648]
 [1.32455807]
 [0.29743047]
 [0.03556172]]

----------------------------------------------------->
Group results for  2
b3:  [[ 0.094]
 [-6.489]
 [ 0.378]
 [ 0.658]]

se3:  [[0.11549532]
 [0.59495188]
 [0.11643847]
 [0.04896962]]

----------------------------------------------------->
Group results for  3
b3:  [[ 0.402]
 [-7.333]
 [ 0.25 ]
 [ 0.938]]

se3:  [[0.08397685]
 [0.71119928]
 [0.07875155]
 [0.083359  ]]

----------------------------------------------------->
Group results for  4
b3:  [[ 0.507]
 [-6.546]
 [ 0.093]
 [ 0.912]]

se3:  [[0.07894803]
 [0.49048829]
 [0.06910008]
 [0.04526316]]