<a href="https://colab.research.google.com/github/Nurdaylight/An-Econ-771/blob/main/PS2/PS2_empirical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Import necessary packages
import pandas as pd
import numpy as np

In [17]:

ps2_data = pd.read_stata("http://fmwww.bc.edu/ec-p/data/Hayashi/nerlove63.dta")

print(ps2_data.head(3))

   totcost  output  plabor      pfuel   pkap
0    0.082     2.0    2.09  17.900000  183.0
1    0.661     3.0    2.05  35.099998  174.0
2    0.990     4.0    2.05  35.099998  171.0

In [18]:
ps2_data=np.log(ps2_data)
ps2_data['const'] = 1

In [21]:
ps2_data.head(3)

    totcost    output    plabor     pfuel      pkap  const
0 -2.501036  0.693147  0.737164  2.884801  5.209486      1
1 -0.414001  1.098612  0.717840  3.558201  5.159055      1
2 -0.010050  1.386294  0.717840  3.558201  5.141664      1

In [35]:
X = ps2_data.iloc[:, 1:]
Y=ps2_data.iloc[:, 0]

0     -2.501036
1     -0.414001
2     -0.010050
3     -1.155183
4     -1.624552
         ...
140    3.804304
141    4.206482
142    4.291144
143    4.937505
144    4.786983
Name: totcost, Length: 145, dtype: float32

In [48]:
estim1=np.linalg.inv(X.T@X)@X.T@Y
out1=np.round(estim1,2)
out1

0    0.72
1    0.44
2    0.43
3   -0.22
4   -3.53
dtype: float64